body {
  background-color: #282c34;
}

h1 {
  margin: 0 0 0.5rem 0;
}
p {
  margin: 0.75rem 0 0.75rem 0;
}
hr {
  width: 50vw;
  border: 1px solid #999;
}

.App {
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  padding: 1rem;
}

.App-heading {
  font-size: 21px;
}

@media only screen and (max-width: 576px) {
  .App-buttons-container button {
    margin: 0.125rem 0.125rem;
    padding: 0.25rem 0.25rem;
    font-size: x-small;
  }
}

.App-link {
  color: #61dafb;
}

.main-map-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Leaflet adaptions */
.leaflet-control-attribution a:first-child svg {
  display: none !important;
}

.leaflet-popup-content {
  word-break: break-all !important;
}
/* Leaflet adaptions - end */
